.container {
    padding: 16px;
    box-shadow: inset 2px 0px 3px 0px rgba(0, 0, 0, 0.08), -1px 0px 2px 0px #3c5b68;
}

.listTrendingTopics {
    width: inherit;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    padding: 8px 0 16px 4px;
    cursor: pointer;
    margin-bottom: 16px;
    line-height: 2.1rem;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    width: 50px;
    display: block;
    height: 4px;
    background-color: #f85555;
    bottom: 3%;
}

.infoUser {
    width: 100%;
    height: 160px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.infoUser img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100%;
}

.coating {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
}

.coating img:hover {
    cursor: pointer;
}

.nameAndFlowers {
    padding: 8px 0;
    margin-left: 4px;
    color: white;
    opacity: 1;
    font-weight: 600;
}

.nameUser {
    cursor: pointer;
    font-size: 1.8rem;
}

.nameUser:hover {
    text-decoration: underline;
}

.followers {
    font-size: 1.2rem;
    display: inline-flex;
}

.numberOfFollowers {

}

.follow {
    position: absolute;
    bottom: 4%;
    right: 2%;
}

.iconFollow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    border-radius: 100%;
    background-color: rgba(164, 255, 255, 0.7);
}

.iconFollow:hover {
    background-color: rgba(134, 255, 255, 0.7);
}

.samePost {

}

.card {
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: 65% 35%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.infoPost {
    margin-left: 8px;
    line-height: 2rem;
}

.namePost {
    font-weight: 700;
    font-size: 1.6rem;
    cursor: pointer;
}

.namePost:hover {
    text-decoration: underline;
}

.datePost {
    padding-left: 2px;
}
