.btn__info {
    min-width: 86px;
    height: 38px;
    padding: 10px;
    background: #00FFFF;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 4px;
    box-sizing: border-box;
}

.btn__info:hover {
    opacity: 0.8;
}

.btn__around {
    background: #00FFFF;
    border: none;
    border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    box-sizing: border-box;
    padding: 4px;
}

.btn__around:hover {
    opacity: 0.7;
}

.btn--outline__warning {
    height: 48px;
    background: rgba(248, 85, 85, 0.2);
    border: 1px solid #f85555;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.btn--outline__warning:hover {
    background: rgba(248, 85, 85, 0.3);
}

.btn__warning {
    min-width: 100px;
    height: 48px;
    background-color: #f85555;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: white;
}

.btn__warning:hover {
    background: rgba(248, 85, 85, 0.9);
}

.btn--outline {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}