.divBorder {
    position: relative;
    margin-top: 56px;
}

.introduceYourself {
    position: relative;
    width: inherit;
    height: 550px;
    /*background-position: 50% 50%;*/
    background-color: rgba(134, 255, 255, 0.3);
}

.coating {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}

.review {
    height: 100%;
    background-size: cover;
    position: absolute;
    right: 6%;
    top: 12%;
    left: 10.5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.review::before {
    content: "";
    position: absolute;
    clip-path: polygon(
            0 0,
            0 95%,
            5% 100%,
            100% 100%,
            100% 99.83%,
            5% 99.83%,
            0.1% 94.99%,
            0.1% 0
    );
    top: -2%;
    right: 1%;
    bottom: -2%;
    left: 1%;
    background-color: #7e633b;
}

.review::after {
    content: "";
    position: absolute;
    clip-path: polygon(
            0 0,
            95% 0,
            100% 5%,
            100% 100%,
            99.90% 100%,
            99.90% 5%,
            94.99% 0.2%,
            0 0.2%
    );
    top: -2%;
    right: 1%;
    bottom: -2%;
    left: 1%;
    background-color: #7e633b;
}

.infoUser {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 32px 0;
    padding: 0 32px;
    position: absolute;
    bottom: 5%;
}

.avatar {
    min-width: 220px;
    height: 220px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.changeAvatar {
    position: absolute;
    bottom: 0;
    font-size: 4rem;
    cursor: pointer;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    padding: 8px;
    box-sizing: border-box;
}

.changeBackground{
    font-size: 4rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 16px;
    opacity: 0;
    transition: opacity 1s;
}

.coating:hover .changeBackground{
    opacity: 1;
}

.avatar:hover .changeAvatar {
    opacity: 1;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-left: 32px;
}

.nameUser {
    width: fit-content;
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
    margin: 8px 0;
    cursor: pointer;
}

.nameUser:hover {
    color: #f85555;
    text-decoration: underline;
}

.follow {

}

.follow label {
    font-size: 1.2rem;
    color: white;
    margin-left: 4px;
}

.description {
    max-width: 87%;
    font-size: 1.4rem;
    color: white;
    line-height: 1.9rem;
}

.more {
    width: fit-content;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    margin: 8px 0;
    cursor: pointer;
}

.more:hover {
    color: #f85555;
}

.formChangeAvatarAndBackground {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    display: none;
}

.card {
    width: 40%;
    min-height: 540px;
    background: white;
    margin: auto;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    animation: zoom ease-in-out 0.8s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header {
    width: 100%;
    height: 400px;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 65% 35%;
}

.footer {
    position: absolute;
    right: 8px;
    bottom: 0;
    left: 8px;
}

.footer button {
    width: 100%;
}

.exitForm {
    font-size: 4rem;
    position: absolute;
    top: 5%;
    right: 10%;
    z-index: 3;
    cursor: pointer;
    width: fit-content;
    color: #f85555;
}

@keyframes zoom {
    from {
        width: 35%;
        min-height: 270px;
    }
    to {
        width: 40%;
        min-height: 540px;
    }
}

