.comment {
    margin: 16px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 16px 0;
    width: fit-content;
}

.header {
    display: flex;
}

.comment img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.name {
    font-size: 1.8rem;
    font-weight: 400;
    cursor: pointer;
}

.name:hover {
    text-decoration: underline;
    color: #f85555;
}

.evaluation {

}

.icons {
    color: #f85555;
}

.dateAndTime {
    display: flex;
    margin: 8px 0;
    font-size: 1.1rem;
    font-weight: 400;
}

.date {
}

.time {
    margin-left: 8px;
}

.content {
    font-size: 1.6rem;
    font-weight: 400;
}