.navList {
    margin-top: 116px;
}

.list {
    list-style: none;
    display: flex;
    font-size: 2.5rem;
    font-weight: 500;
}

.list li {
    cursor: pointer;
    padding-bottom: 16px
}

.list li + li {
    margin: 0 16px;
}

.list li.active {
    border-bottom: 5px solid #f85555;
}
